<!DOCTYPE html>
<html data-ng-app="unifyApp">
 
<head>
    <title>Unify</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Compiled and minified CSS 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
          -->
          
    <link rel='stylesheet' href='lib/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />

    <script type="text/javascript"  src="lib/angular/angular.min.js"></script>
    <script type="text/javascript"  src="lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript"  src="lib/angular-utf8-base64/angular-utf8-base64.min.js"></script>
    <script type="text/javascript"  src="lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript"  src="lib/angular-scroll/angular-scroll.min.js"></script>
    <script type="text/javascript"  src="lib/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript"  src="lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="lib/angular-ui-map/ui-map.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script type="text/javascript" src="lib/moment/moment.js"></script>
    <script type="text/javascript" src="lib/angular-moment/angular-moment.min.js"></script>
    <script src="lib/moment/locale/es.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="lib/satellizer/satellizer.min.js"></script>
    <script src="lib/lodash/lodash.min.js"></script>
    <script src="lib/ngvideo/dist/ng-video.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/main.css">
    
    <!-- build:js scripts/app.js -->
        <script type="text/javascript" src="scripts/app.js"></script>
        <script type="text/javascript" src="scripts/config.js"></script>
        <script type="text/javascript" src="scripts/route.js"></script>
        <script type="text/javascript" src="scripts/translate.js"></script>
        <script type="text/javascript" src="scripts/auth.js"></script>

        <!-- Controllers -->
        <script type="text/javascript" src="scripts/controller/login.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/header.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/main.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/profile.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/circle.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/contact.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/contactProfile.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/video.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/comingSoon.controller.js"></script>
        <script type="text/javascript" src="scripts/controller/mail.controller.js"></script>

        <!-- Services -->
        <script type="text/javascript" src="scripts/service/authentication.service.js"></script>
        <script type="text/javascript" src="scripts/service/profile.service.js"></script>
        <script type="text/javascript" src="scripts/service/circle.service.js"></script>
        <script type="text/javascript" src="scripts/service/contact.service.js"></script>
        <script type="text/javascript" src="scripts/service/mail.service.js"></script>
        <script type="text/javascript" src="scripts/service/file.service.js"></script>

        <!-- Directives -->
        <script type="text/javascript" src="scripts/directives/main-content.js"></script>
        <script type="text/javascript" src="scripts/directives/loader.js"></script>
        <script type="text/javascript" src="scripts/directives/timeline.js"></script>
        <script type="text/javascript" src="scripts/directives/video.js"></script>
        <script type="text/javascript" src="scripts/directives/contactData.js"></script>
        <script type="text/javascript" src="scripts/directives/message.js"></script>

        <!-- Filters -->
        <script type="text/javascript" src="scripts/filters/clock.filter.js"></script>
    <!-- endbuild -->

    <link rel="icon" href="resources/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon"/>
</head>
 
<body class="overflow-x-hidden" ng-controller="MainController as mainController">
        <section ng-include="'views/header.html'" ng-if="mainController.auth"></section>

        <ul class="navigation menu-mobile" ng-if="mainController.auth">
          <li class="nav-item"><a ui-sref="main"><i class="fa fa-home"></i> Inicio</a></li>
          <li class="nav-item"><a ui-sref="emails"><i class="fa fa-envelope-o"></i> Mail</a></li>
          <li class="nav-item"><a ui-sref="profile">{{mainController.user}}</a></li>
          <li class="nav-item"><a href="" ng-click="mainController.logout();">Cerrar Sesión</a></li>
        </ul>
        
        <input type="checkbox" id="nav-trigger" class="nav-trigger  menu-mobile" ng-if="mainController.auth"/>
        <label for="nav-trigger" class="menu-mobile" ng-if="mainController.auth">
            <i class="fa fa-bars fa-2x"></i>
        </label>
       <!-- -->
    <div class="site-wrap">
        <div class="icon-unify-mobile menu-mobile col-sm-12 col-xs-12" ng-if="mainController.auth">
           <img src="resources/header-logo.png" height="40">
        </div>
        <div ui-view></div>
    </div>
</body>
 
</html>