.image-contact-small{
    height:  40px;
    width:  40px;
}

.image-profile{
    display: block;
    height:  100px;
    width:  100px;
    margin: 0 auto;  
    overflow: hidden;
}

.image-profile-half{
    display: block;
    height:  100px;
    width:  100px;
    margin: 0 auto;
    overflow: hidden;
}

.image-profile-quarter{
    display: block;
    height:  50px;
    width:  50px;
    margin: 0 auto;
    overflow: hidden;
}

.contacto {
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #579f9b 50%, #fff 50%);
    -webkit-transition: background-position 1s ease-in-out;
    -moz-transition: background-position 1s ease-in-out;
    transition: background-position 1s ease-in-out;
}

.contacto:hover {
    background-position: 100% 0;
}
