.image-contact-small{
    height:  40px;
    width:  40px;
}

.image-profile{
    display: block;
    height:  150px;
    width:  150px;
    margin: 0 auto;  
    overflow: hidden;
}

.image-profile-half{
    display: block;
    height:  150px;
    width:  150px;
    margin: 0 auto;
    overflow: hidden;
}

.image-profile-quarter{
    display: block;
    height:  75px;
    width:  75px;
    margin: 0 auto;
    overflow: hidden;
}

.circle-name{
    background-color: #579f9b;
    border: 1px solid #579f9b;
    border-radius: 25px;
    color: #fff;
    font-size: 1.429em;
    padding: 2px;
    margin-top: 10px;
}

.circle-section-name{
    background-color: #fff;
    border: 2px solid #579f9b;
    border-radius: 25px;
    color: #579f9b;
    font-size: 1.429em;
    padding: 2px;
    margin-top: 10px;
}

.circle-children{
    .btn-unify-primary{
        margin-bottom: 5px;
        text-align: left;
        font-size: 1.143em;
        padding-left: 15px;
    }
}
.circle-child {
    position: relative;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #e2eceb;
    border: 1px solid #e2eceb;
    text-align: left;
    border-radius: 25px;
    color: #7b7368;
    font-size: 1.143em;
    .image-contact-small{
        height:  30px;
        width:  30px;
    }
    &:hover{
        text-decoration: none;
        color: lighten( #7b7368, 10% );
    }
}
.circle-child-circle{
    padding-left: 15px;
}

.circle-lvl-1{
    padding-left: 15px;
}
.circle-lvl-2{
    padding-left: 30px;
}
.circle-lvl-3{
    padding-left: 45px;
}
.circle-lvl-4{
    padding-left: 60px;
}
.circle-lvl-5{
    padding-left: 75px;
}
.circle-lvl-6{
    padding-left: 90px;
}
