@font-face {
    font-family: 'antennaThin'; /*a name to be used later*/
    src: url('../resources/fonts/Antenna-Thin.otf') ;
}
@font-face {
    font-family: 'antennaRegular'; /*a name to be used later*/
    src: url('../resources/fonts/Antenna-Regular.otf') ;
}
@font-face {
    font-family: 'antennaBold'; /*a name to be used later*/
    src: url('../resources/fonts/Antenna-Bold.otf') ;
}
@font-face {
    font-family: 'antennaRegularItalic'; /*a name to be used later*/
    src: url('../resources/fonts/Antenna-RegularItalic.otf') ;
}
@font-face {
    font-family: 'antennaCondItalic'; /*a name to be used later*/
    src: url('../resources/fonts/AntennaCond-Italic.otf') ;
}
