.unifyLogo {
  	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: -15px;
    margin-left: 0px !important;
    img{
    	position: relative;
	    margin-top: -70px;
		margin-left: auto;
		margin-right: auto;
		z-index: 10;
    }
}
.navbar-default{
	background-color: #fff;
	border: none;
    .container{
        padding: 0;
    }
}
.navbar-default .navbar-nav>li>a{
	line-height: initial;
}
.navbar-right{
    margin-top: 10px;
}
/* Navigation Menu - Background */
.navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 0;

    /* non-critical appearance styles */
    list-style: none;
    background: #335451;

    /* Navigation Menu - List items */
    .nav-item {
      /* non-critical appearance styles */
      width: 200px;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #335451;
    }

    .nav-item a {
      /* non-critical appearance styles */
      display: block;
      padding: 1em;
      background-color: #335451;
      //background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      color: white;
      font-size: 1.0em;
      text-decoration: none;
      transition: color 0.2s, background 0.5s;
    }

    .nav-item a:hover {
      color: #dc9030;
      background-color: #335451;
      //background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
    }

    /* Micro reset */
    *,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}

}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 10px;
  z-index: 1500;
  color: white;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
 // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: white; /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    .icon-unify-mobile{
        position: fixed;
        top: 0;
        z-index: 1030;
        height: 50px;
        background-color: #335451;
        img{
            margin: 0 auto;
            position: relative;
            top: 5px;
            display: block;
        }
    }
}


@media (max-width: $screen-xs-max) {
    .menu-desktop{
        display: none!important;
    }
    body { position: absolute; height: 100%; width: 100%; padding-top: 0px;}
    .site-wrap {padding-top: 50px;}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .menu-desktop{
        display: none!important;
    }
    body { position: absolute; height: 100%; width: 100%; padding-top: 0px;}
    .site-wrap {padding-top: 50px;}
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .menu-mobile{
        display: none!important;
    }
}
@media (min-width: $screen-lg-min) {
    .menu-mobile{
        display:none!important;
    }
}
