.sign-in-up-section{
	padding: 30px 0 130px 0;
}

.sign-in-up-section .container {
	max-width: 460px;
}

.sign-in-up-content {
	background: #fff;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 15px;
}

.sign-in-up-content .sign-in-up-form {
	padding-top: 10px;
}
	
.sign-in-up-content  .sign-in-up-links {
	position: relative;
	margin-top:	20px;
}
.sign-in-up-content .sign-in-up-links .sep {
	margin: 0 4px;
}
