#profile{
	.panel-body{
		height: 204px;	
	}
	.sidepanel{
		.image-contact{
			margin-bottom: 10px;
		}
		.btn-unify-primary{
			text-align: left;
			padding-left: 15px;
		}
	}
}

.social-network-bullet{
    padding: 5px;
    text-align: left;
    line-height: 40px;
    span{
    	padding-left: 5px;
    }
}

.profile-pics{
    border: 2px solid #00a099;
    margin: 20px 0px;
    border-radius: 25px 0px;
    overflow: hidden;
    padding-bottom: 5px;
    .profile-pics-title{
    	background-color: #00a099;
	    color: #fff;
	    padding: 5px 0px;
    }
    .profile-pics-images{
	    img{
	    	cursor: pointer;
	    	margin: 5px 0px;
	    }
    }
}

.social-image{
	float: left;
    border-radius: 100%;
    border: 2px solid #dc9030;
    padding: 8px;
    line-height: normal;
}

.social-image-unlink{
    border: 2px solid #00a099;
}

.image-profile{
    display: block;
    height:  100px;
    width:  100px;
    margin: 0 auto;
}

.profile-name{
	color: #8d7861;
	font-size: 1.714em;
}

.title-unify{
	font-size: 2.5em;
	font-family: 'antennaThin';
}

.social-add-panel{
	border: 2px solid #579f9b;
	margin-top: 20px;
	border-radius: 25px 0px;
	height: 250px;
    min-width: 250px;
    .title-media{
	    background-color: #e3ddd1;
	    color: #579f9b;
  		font-size: 18px;
	    overflow: visible;
	    position: relative;
	    z-index: 0;
	    margin-top: 10px;
	    padding-left: 50px;
	}
	.font-18{
		font-size: 18px;
	}
	.icon-media{
	    background-color: #e3ddd1;
	    border-radius: 100%;
	    position: relative;
	    float: left;
	    z-index: 0;
	    top: -32px;
	    left: -10px;
	    width: 40px;
	    height: 40px;
	    img{
	    	position: relative;
	        top: 8px;
		    left: 9px;
	    }
	}
	.icon-unify{
	    background-color: #e3ddd1;
	    border-radius: 100%;
	    position: relative;
	    float: right;
	    z-index: 10;
	    top: -32px;
	    right: -10px;
	    width: 40px;
	    height: 40px;
	    img{
	        top: 4px;
		    left: 9px;
		    position: relative;
	    }
	}
	.btn-link-group{
	    float: right;
	    position: relative;
	    right: -40px;
	    bottom: -25px;
	}
	.btn-link{
	    background-color: white;
	    padding: 2px 30px 2px 5px;
	    font-family: 'antennaRegular';
  		font-size: 1.286em;
	    color: #dc911a;
	    border: 2px solid #dc911a;
	    border-radius: 15px;
	    text-decoration: none;
	    cursor: pointer;
	}
	.btn-link-icon{
	    font-size: 2.5em;
	    top: 6px;
	    left: -30px;
	    color: #dc911a;
	    position: relative;
	    text-decoration: none;
	    cursor: pointer;
	}
}

.social-add-panel-linked{
	background-color:#579f9b;
	color: #fff;
	.image-profile{
    	height: 75px;
    	width: 75px;
	}
	.title-media{
	    background-color: #FFF;
	    color: #579f9b;
	}
	.icon-media{
	    background-color: #fff;
	}
	.icon-unify{
	    background-color: #fff;
	}
	.social-data{
		top: -32px;
    	font-size: 16px;
    	margin-top: 20px;
    	.username{
	    	height: 80px;
    		word-wrap: break-word;
	    }
	}
	.btn-unlink-group{
	    float: right;
	    position: relative;
	    right: -30px;
    	bottom: -13px;
	}
	.btn-unlink{
	    background-color: white;
	    padding: 2px 20px 2px 5px;
	    font-family: 'antennaRegular';
	    font-size: 0.857em;
	    color: #dc911a;
	    border: 2px solid #dc911a;
	    border-radius: 15px;
	    text-decoration: none;
    	cursor: pointer;
	}
	.btn-unlink-icon{
	    font-size: 1.786em;
   		top: 5px;
	    left: -20px;
	    color: #dc911a;
	    position: relative;
	    text-decoration: none;
    	cursor: pointer;
	}
}

@media (max-width: 768px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1200px) {
}