.public-input-container{
    border: 2px solid #00a099;
    margin: 20px 0px;
    border-radius: 25px 0px;
    overflow: hidden;
    .fa{
        border-radius: 100%;
        padding: 10px;
        font-size: 1em;
    }
    .fa-twitter{
        color: #fff;
        background-color: #61AADF;
    }
    .fa-facebook-official{
        color: #fff;
        background-color: #3765A3;
    }
    .fa-instagram{
        color: #fff;
        background-color: #305C85;
    }
}

.public-input-header{
    background-color: #e4e0db;
    color: #fff;
    padding: 5px 15px;
    a{
        text-decoration: none;
        &hover,
        &focus{
            text-decoration: none;
        }
    }
}

.public-input-text{
    border: none;
    box-shadow: none !important;
}

.public-input-footer{
    background-color: #e4e0db;
    color: #fff;
    padding: 5px 15px;
    .btn-unify-default{
        padding: 3px 15px;
    }
}

.publication-type{
    color: #8d775e;
}

.publication-type-active{
    background-color: #fff;
    color: #00a099;
}