.public-input-container{
    border: 2px solid #00a099;
    margin: 20px 0px;
    border-radius: 25px 0px;
    overflow: hidden;
    .fa{
        float: right;
        border-radius: 100%;
        padding: 10px;
        color: #fff;
        font-size: 1em;
    }
    .fa-twitter{
        background-color: #61AADF;
    }
    .fa-facebook-official{
        background-color: #3765A3;
    }
    .fa-instagram{
        background-color: #305C85;
    }
}

.public-input-header{
    background-color: #e4e0db;
    color: #fff;
    padding: 5px 0px;
}

.public-input-text{
    border: none;
    box-shadow: none;
}

.public-input-footer{
    background-color: #e4e0db;
    color: #fff;
    padding: 5px 15px;
    .btn-unify-default{
        padding: 3px 15px;
    }
}