<div id="circle" class="container" ng-controller="CircleController as circleCtrl">
  	<uw-loader ng-if="!circleCtrl.circle"></uw-loader>
	<div class="content col-md-12 col-sm-12 col-xs-12 no-padding" ng-if="circleCtrl.circle">
		<div class="col-md-3 col-sm-12 col-xs-12 text-center z-index-10" style="margin-top: 20px;" ng-show="!circleCtrl.editContact">
			<div class="fadeInLeft animated">
				<div ng-show="!circleCtrl.createCircle && !circleCtrl.editingCircle">
					<a href="" ng-click="circleCtrl.goToParent();" ng-show="circleCtrl.circle.parent" class="unify-link"><i class="fa fa-chevron-circle-up"></i>Subir un nivel</a>
					<div class="col-md-12 col-sm-12 col-xs-12  no-padding">
						<img ng-src="{{circleCtrl.circle.picture}}" class="img-circle image-profile" ng-if="circleCtrl.circle.picture">

						<div ng-show="!circleCtrl.circle.picture" class="img-circle image-profile overflow-hidden">
							<img src="resources/contact/pulpix.png" class="col-md-12 col-sm-12 col-xs-12 no-padding" ng-show="circleCtrl.contactSize==0">
							
							<div ng-show="circleCtrl.contactSize==1" class="img-circle image-profile">
								<img ng-src="{{circleCtrl.imagesCircle[0].picture}}" class="col-md-12 col-sm-12 col-xs-12 no-padding" >
							</div>

							<div ng-show="circleCtrl.contactSize==2" class="img-circle image-profile">
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding overflow-hidden">
									<img ng-src="{{circleCtrl.imagesCircle[0].picture}}" class="image-profile-half">
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding overflow-hidden">
									<img ng-src="{{circleCtrl.imagesCircle[1].picture}}" class="image-profile-half">
								</div>
							</div>
							
							<div ng-show="circleCtrl.contactSize==3" class="img-circle image-profile overflow-hidden">
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding overflow-hidden">
									<img ng-src="{{circleCtrl.imagesCircle[0].picture}}" class="image-profile-half">
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding overflow-hidden">
									<img ng-src="{{circleCtrl.imagesCircle[1].picture}}" class="image-profile-quarter">
									<img ng-src="{{circleCtrl.imagesCircle[2].picture}}" class="image-profile-quarter">
								</div>
							</div>
							
							<div ng-show="circleCtrl.contactSize>=4" class="img-circle image-profile overflow-hidden">
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding">
									<img ng-src="{{circleCtrl.imagesCircle[0].picture}}" class="image-profile-quarter">
									<img ng-src="{{circleCtrl.imagesCircle[1].picture}}" class="image-profile-quarter">
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 no-padding">
									<img ng-src="{{circleCtrl.imagesCircle[2].picture}}" class="image-profile-quarter">
									<img ng-src="{{circleCtrl.imagesCircle[3].picture}}" class="image-profile-quarter">
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 col-sm-12 col-xs-12  no-padding text-center" style="margin-top: 10px;" >
							<div class="col-md-4 col-sm-4 col-xs-4 no-padding" ng-if="circleCtrl.circle_id !=circleCtrl.mainCircle_id">
								<a href="" class="move-link centered" ng-click="circleCtrl.movingCircle=true;" ><i class="fa fa-arrows-alt"></i></i>Mover</a>
								<uw-question uw-description="'Acá podés mover este grupo a otro grupo'" class="z-index-10" ng-show="$root.showQuestions" style="left: -30px; position: relative;"></uw-question>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-4 no-padding" ng-class="{'col-md-offset-4 col-sm-offset-4 col-xs-offset-4' : circleCtrl.circle_id == circleCtrl.mainCircle_id}">
								<a href="" class="edit-link centered" ng-click="circleCtrl.edit();" ><i class="fa fa-pencil-square-o"></i>Editar</a>
								<uw-question uw-description="'Acá podés editar nombre o foto de este grupo.'" class="z-index-10" ng-show="$root.showQuestions" style="left: -30px; position: relative;"></uw-question>
							</div>
  							<div class="col-md-4 col-sm-4 col-xs-4  no-padding" ng-if="circleCtrl.circle_id !=circleCtrl.mainCircle_id">
								<a href="" class="delete-link centered" ng-click="circleCtrl.askDeleteConfirmation();" ><i class="fa fa-times-circle"></i>Eliminar</a>
								<uw-question uw-description="'Acá podés eliminar este grupo'" class="z-index-10" ng-show="$root.showQuestions" style="left: -30px; position: relative;"></uw-question>
							</div>
						</div>
						<div class="clearfix"></div>
						<div>
							<span class="circle-name btn-block">{{circleCtrl.circle.name}}</span>
							<uw-question uw-description="'Este es el grupo en el cual estás parado ahora.'" class="z-index-10" ng-show="$root.showQuestions" style="position: relative; left: 55px;"></uw-question>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 no-padding" ng-show="circleCtrl.createCircle">
					<div class="fadeInUp animated">
						<form name="newCircleForm" ng-submit="circleCtrl.save()" class="form-horizontal" role="form" novalidate>
							
							<a href="" class="delete-link no-padding" ng-click="circleCtrl.newCircle.pictureFromFile=false;circleCtrl.newCircle.file=null;" ng-show="circleCtrl.newCircle.pictureFromFile"><i class="fa fa-times-circle"></i>Eliminar Foto</a>
							
							<input id="fileNewUploadInput" type="file" ngf-select ng-model="circleCtrl.newCircle.uploadingFile" name="uploadingFile" accept="image/*" style="display:none;">
														
							<input id="fileNewToUpload" type="file" ngf-select ng-model="circleCtrl.newCircle.file" name="file" accept="image/*" ngf-max-size="2MB" style="display:none;">

							<img ngf-src="circleCtrl.newCircle.file" class="img-circle image-contact" ng-show="circleCtrl.newCircle.pictureFromFile">

							<img src="resources/contact/pulpix.png" class="img-circle image-contact" ng-if="!circleCtrl.newCircle.pictureFromFile">

							<a href="" ng-click="circleCtrl.uploadNewFile();" class="btn btn-unify-default">{{!circleCtrl.newCircle.file ? 'Subir una foto' : 'Subir otra'}}</a>

							<uw-question uw-description="'Para cargar una foto que identifique al grupo, clic acá. Ojo, no es obligatorio.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -8px; left: 35px;"></uw-question>
							
							<i class="delete-link col-md-12"  ng-show="newCircleForm.file.$error.maxSize">La imagen es demasiado grande, se pueden subir hasta imagenes de 5MB</i> 
							
							<div class="clearfix"></div>
							
		                    <label>Ingresá en nombre del nuevo grupo:</label>
		                    
							<input type="text" class="form-control form-input unify-border" name="circleCtrl.newCircle" ng-model="circleCtrl.newCircle.name" required>
							<uw-question uw-description="'El nombre que le querés poner al grupo va acá. Esto sí es obligatorio.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -8px; left: 35px;"></uw-question>
							<div style="margin-top: 10px;">
								 <button type="submit" value="Submit" ng-disabled="newCircleForm.$invalid" ng-click="newCircleForm.$setPristine()" class="btn btn-unify-primary col-md-6">Crear</button>
								<a class="btn btn-unify-primary-invert col-md-6" ng-click="circleCtrl.cancelCircle();">Cancelar</a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 no-padding" ng-show="circleCtrl.editingCircle">
					<div class="fadeInUp animated">
						<form name="updateCircleForm" ng-submit="circleCtrl.update()" class="form-horizontal" role="form" novalidate>

							<a href="" class="delete-link no-padding" ng-click="circleCtrl.editCircle.pictureFromFile=false;circleCtrl.editCircle.file=null;circleCtrl.editCircle.picture=null;" ng-show="circleCtrl.editCircle.picture || circleCtrl.editCircle.pictureFromFile"><i class="fa fa-times-circle"></i>Eliminar Foto</a>
							
							<input id="fileUploadInput" type="file" ngf-select ng-model="circleCtrl.editCircle.uploadingFile" name="uploadingFile" accept="image/*" style="display:none;">
							
							<input id="fileToUpload" type="file" ngf-select ng-model="circleCtrl.editCircle.file" name="file" accept="image/*" ngf-max-size="5MB" style="display:none;">
							
							<img ng-src="{{circleCtrl.editCircle.picture}}" class="img-circle image-profile" ng-if="circleCtrl.editCircle.picture && !circleCtrl.editCircle.pictureFromFile">

							<img ngf-src="circleCtrl.editCircle.file" class="img-circle image-contact" ng-show="circleCtrl.editCircle.pictureFromFile">

							<img src="resources/contact/pulpix.png" class="img-circle image-contact" ng-if="!circleCtrl.editCircle.picture && !circleCtrl.editCircle.pictureFromFile">

							<a href="" ng-click="circleCtrl.uploadFile();" class="btn btn-unify-default">{{!circleCtrl.editCircle.file ? 'Subir una foto' : 'Subir otra'}}</a>
							
							<uw-question uw-description="'Para cargar una foto que identifique al grupo, clic acá. Ojo, no es obligatorio.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -8px; left: 35px;"></uw-question>

							<span class="delete-link col-md-12" ng-show="updateCircleForm.file.$error.maxSize">La imagen es demasiado grande, se pueden subir hasta imagenes de 5MB</span> 

							<div class="clearfix"></div>

		                    <label>Ingresá el nombre del grupo:</label>
							<input type="text" class="form-control form-input unify-border" name="circleCtrl.editCircle" ng-model="circleCtrl.editCircle.name" required>
							<uw-question uw-description="'El nombre que le querés poner al grupo va acá. Esto sí es obligatorio.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -8px; left: 35px;"></uw-question>
							<div style="margin-top: 10px;">
								<button type="submit" value="Submit" ng-disabled="updateCircleForm.$invalid" ng-click="updateCircleForm.$setPristine()" class="btn btn-unify-primary col-md-6">Guardar</button>
								<a class="btn btn-unify-primary-invert col-md-6" ng-click="circleCtrl.cancelCircle();">Cancelar</a>
							</div>
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="hidden-xs">
					<div ng-hide="circleCtrl.createCircle || circleCtrl.editingCircle">
						<div class="circle-children" style="margin-top: 20px;">
							<span class="circle-section-name btn-block" style="margin-bottom: 5px;">Grupos</span>
							<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
								<a class="btn btn-unify-primary btn-block" ng-click="circleCtrl.create();" style="margin-bottom: 5px;">Crear Grupo</a>
								<uw-question uw-description="'Querés crear un nuevo contacto dentro de este grupo? Clickea acá.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -15px; left: 35px;"></uw-question>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12 col-sm-12 col-xs-12 no-padding" ng-if="circleCtrl.tree.subcircles.length>0">
								<div ng-repeat="subcircle in circleCtrl.tree.subcircles | orderBy: 'name'">
									<a href="" ng-click="circleCtrl.goToCircle(subcircle._id);" class="circle-child circle-child-circle centered" >{{subcircle.name}}</a>
									<uw-question uw-description="'Clickea acá para entrar a los grupos que ya definiste.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; left: 35px; margin-top:-15px;" ng-if="$first"></uw-question>
								</div>
							</div>
							
						</div>
						<div class="clearfix"></div>
						<div class="circle-children" style="margin-top: 25px;">
							<span class="circle-section-name btn-block" style="margin-bottom: 5px;">Contactos</span>
							
							<a class="btn btn-unify-primary btn-block" ng-click="circleCtrl.createContact();" style="margin-bottom: 5px;">Crear Contacto</a>
							<uw-question uw-description="'Clickeá aquí para crear un contacto dentro de este grupo'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -15px; left: 35px;"></uw-question>
							<div ng-repeat="contact in circleCtrl.circle.contacts | orderBy: 'name'">
								<a href="#/contact/{{circleCtrl.circle_id}}/{{contact._id}}" class="circle-child" >
									<img ng-src="{{contact.picture}}" class="img-circle image-contact-small" ng-if="contact.picture">
									<img src="resources/contact/pulpix.png" class="img-circle image-contact-small" ng-if="!contact.picture">
									{{contact.name}}
								</a>
								<uw-question uw-description="'Clickea acá para acceder a este conctacto.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; left: 35px; margin-top:-15px;" ng-if="$first"></uw-question>
							</div>
						</div>
					</div>
				</div>
				<div class="visible-xs-block visible-sm-block">
					<div ng-hide="circleCtrl.createCircle || circleCtrl.editingCircle">
						<div class="circle-children" style="margin-top: 10px;">
							<label class="col-md-12 col-sm-12 col-xs-12 no-padding cursor-pointer">
								<input type="checkbox" ng-model="circleCtrl.showGroups" style="display: none;">
								<span class="circle-section-name btn-block" style="margin-bottom: 5px;">{{circleCtrl.showGroups ? 'Ocultar Grupos' : 'Mostrar Grupos'}}</span>
							</label>
							<div class="clearfix"></div>
							<div ng-show="circleCtrl.showGroups">
								<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
									<a class="btn btn-unify-primary btn-block" ng-click="circleCtrl.create();" style="margin-bottom: 5px;">Crear Grupo</a>
									<uw-question uw-description="'Querés crear un nuevo contacto dentro de este grupo? Clickea acá.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -15px; left: 35px;"></uw-question>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-12 col-sm-12 col-xs-12 no-padding" ng-if="circleCtrl.tree.subcircles.length>0">
									<div ng-repeat="subcircle in circleCtrl.tree.subcircles | orderBy: 'name'">
										<a href="" ng-click="circleCtrl.goToCircle(subcircle._id);" class="circle-child circle-child-circle centered" >{{subcircle.name}}</a>
										<uw-question uw-description="'Clickea acá para entrar a los grupos que ya definiste.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; left: 35px; margin-top:-15px;" ng-if="$first"></uw-question>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="circle-children">
							<label class="col-md-12 col-sm-12 col-xs-12 no-padding cursor-pointer">
								<input type="checkbox" ng-model="circleCtrl.showContacts" style="display: none;">
								<span class="circle-section-name btn-block" style="margin-bottom: 5px;">{{circleCtrl.showContacts ? 'Ocultar Contactos' : 'Mostrar Contactos'}}</span>
							</label>
							<div class="clearfix"></div>
							<div ng-show="circleCtrl.showContacts">
								<a class="btn btn-unify-primary btn-block" ng-click="circleCtrl.createContact();" style="margin-bottom: 5px;">Crear Contacto</a>
								<uw-question uw-description="'Clickeá aquí para crear un contacto dentro de este grupo'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -15px; left: 35px;"></uw-question>
								<div ng-repeat="contact in circleCtrl.circle.contacts | orderBy: 'name'">
									<a href="#/contact/{{circleCtrl.circle_id}}/{{contact._id}}" class="circle-child" >
										<img ng-src="{{contact.picture}}" class="img-circle image-contact-small" ng-if="contact.picture">
										<img src="resources/contact/pulpix.png" class="img-circle image-contact-small" ng-if="!contact.picture">
										{{contact.name}}
									</a>
									<uw-question uw-description="'Clickea acá para acceder a este conctacto.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; left: 35px; margin-top:-15px;" ng-if="$first"></uw-question>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-12 col-xs-12">
			<div ng-hide="!circleCtrl.movingCircle" >
				<div class="col-md-12 col-sm-12 col-xs-12 text-left unify-color fadeInDown animated" style="margin-top: 20px;" ng-show="circleCtrl.list">
			      	<label class="font-18">Seleccioná donde que queres mover el grupo</label>
			      	<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="gray-color" ng-style="circle.style" ng-repeat="circle in circleCtrl.list">
							<label>
								<input type="radio" ng-model="circleCtrl.parent" ng-value="circle._id" style="display: none;">
								<i class="fa" ng-class="{'fa-check-circle-o': circleCtrl.parent==circle._id,'fa-circle-o': circleCtrl.parent!=circle._id}"></i>
								{{circle.name}}
							</label>
						</div>
					</div>
				</div>
		      	<div class="clearfix"></div>
				<div class="fadeInUpBig animated" style="margin-top: 10px;">
				 	<a ng-click="circleCtrl.moveCircle();" class="btn btn-unify-primary">Mover grupo</a>
					<a class="btn btn-unify-primary-invert" ng-click="circleCtrl.movingCircle=false;">Cancelar</a>
				</div>
			</div>
			<div ng-show="!circleCtrl.editContact && !circleCtrl.movingCircle" style="margin-top: 10px;">
  				<div ng-if="!circleCtrl.circle.empty_circle">
	  				<uw-loader ng-if="!circleCtrl.feed"></uw-loader>
					<uw-time-line class="fadeInDown animated" uw-circle-id="circleCtrl.circle_id" uw-media="circleCtrl.feed" ng-if="circleCtrl.feed"></uw-time-line>
				</div>
				<div ng-if="circleCtrl.circle.empty_circle" class="text-center message-empty">
					<div class="fadeInUp animated">
						<img src="resources/pulpix.png" height="100px" class="centered ">
						<br>
						<span class="font-18">Este grupo esta vacio!<br>Agregá contactos poder para ver contenido aquí!</span>
						<br>
						<div ng-if="circleCtrl.recomendedFriends.length>0 && circleCtrl.circle_id ==circleCtrl.mainCircle_id" style="margin-top: 15px;">
							<a href="" ng-click="circleCtrl.findFriends=true; circleCtrl.createContact();" class="btn btn-unify-default">Buscar amigos en Unify</a>
							<uw-question uw-description="'Encontra a tus amigos que ya tienen Unify y agregalos facilmente!'" class="z-index-10 col-md-7 col-md-offset-5 col-sm-7 col-sm-offset-5 col-xs-7 col-xs-offset-5" ng-show="$root.showQuestions" style="position: relative; left: -10px; margin-top: -8px;"></uw-question>
						</div>
						<div ng-if="circleCtrl.recomendedFriends.length==0 || circleCtrl.circle_id != circleCtrl.mainCircle_id" style="margin-top: 15px;">
							<a class="btn btn-unify-primary" ng-click="circleCtrl.createContact();" style="margin-bottom: 5px;">Crear Contacto</a>
							<uw-question uw-description="'Clickeá aquí para crear un contacto dentro de este grupo'" class="z-index-10 col-md-12 col-sm-12 col-xs-12" ng-show="$root.showQuestions" style="position: relative; margin-top: -15px; left: 35px;"></uw-question>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
			<uw-contact-data uw-circle-id="circleCtrl.circle_id" uw-find-friends="circleCtrl.findFriends" uw-parent-controller="circleCtrl" ng-if="circleCtrl.editContact"></uw-contact-data>
		</div>
	</div>

	<div>
	    <script type="text/ng-template" id="myModalCircleDelete.html">
	        <div class="modal-header">
            	<span class="modal-title">¿Estás seguro que queres eliminar este grupo?</span>
	        </div>
	        <div class="modal-body text-center">
	        	Si tenes contactos que no pertenezcan a otros grupos estos seran eliminados cuando elimines el grupo.
	        	<br><br>
	            <a class="btn btn-unify-primary" type="button" ng-click="deleteCircle();">Eliminar</a>
	            <a class="btn btn-unify-primary-invert" type="button" ng-click="cancel()">Cancelar</a>
	        </div>
	    </script>
	</div>
</div>
