<div id="contact" class="col-md-12 fadeInRight animated" style="margin-top: 20px;" ng-controller="ContactController as contactCtrl"  ng-init="contactCtrl.init(uwCircleId, uwContactId, uwParentController);">
  	<uw-loader ng-if="!contactCtrl.contact"></uw-loader>
	<div class="text-center" ng-if="contactCtrl.contact">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center fadeInDownBig animated" style="padding-bottom:10px;">
			<span class="title-unify">{{uwContactId ? 'Editar Contacto' : 'Crear Contacto'}}</span>
		</div>
		<form name="contactForm" ng-submit="contactCtrl.save(uwContactId);" class="form-horizontal" role="form" novalidate>
			<div class="col-md-12">
				<div class="col-md-4 col-sm-4 col-xs-12">

					<a href="" class="delete-link" ng-click="contactCtrl.contact.picture=null;contactCtrl.contact.pictureFromFile=false;" ng-show="contactCtrl.contact.picture || contactCtrl.contact.pictureFromFile"><i class="fa fa-times-circle"></i>Eliminar foto</a>

					<img ngf-src="contactCtrl.contact.file" class="img-circle image-contact" ng-show="contactCtrl.contact.pictureFromFile">
					<img ng-src="{{contactCtrl.contact.picture}}" class="img-circle image-contact" ng-show="contactCtrl.contact.picture && !contactCtrl.contact.pictureFromFile">
					<img src="resources/contact/pulpix.png" class="img-circle image-contact" ng-hide="contactCtrl.contact.picture || contactCtrl.contact.pictureFromFile">

					<input id="fileUploadInputContact" type="file" ngf-select ng-model="contactCtrl.contact.uploadingFile" name="uploadingFile" accept="image/*" ngf-max-size="2MB" style="display:none;">
														
					<input id="fileToUpload" type="file" ngf-select ng-model="contactCtrl.contact.file" name="file" accept="image/*" ngf-max-size="2MB" style="display:none;">

					<a href="" ng-click="contactCtrl.uploadFile();" class="btn btn-unify-default">{{!contactCtrl.contact.file ? 'Subir una foto' : 'Subir otra'}}</a>

					<i ng-show="contactForm.file.$error.maxSize">Archivo demasiado grande {{contactCtrl.contact.file.size / 1000000|number:1}}MB: max {{profileCtlr.newUser.file.$errorParam}}</i> 

				</div>
				<div class="col-md-8 text-left">
					<div class="form-group">
						<label>Nombre del contacto:</label>
						<input type="text" class="form-control form-input" name="name" ng-model="contactCtrl.contact.name" required>
					</div>
					<div class="form-group">
						<label>Mail del contacto:</label>
						<input type="text" class="form-control form-input" name="name" ng-model="contactCtrl.contact.google.email" >
					</div>
				</div>
			</div>
			<a href="" class="dark-link" ng-click="contactCtrl.refreshFriends();"><i class="fa fa-refresh"></i>Actualizar Amigos</a>
			<div class="clearfix"></div>
			<div class="clearfix"></div>
			<uw-loader ng-if="!contactCtrl.friends"></uw-loader>
			<div class="col-md-12 fadeInDown animated" ng-if="contactCtrl.friends" style="margin-top: 10px;">
			<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
				<span class="unify-color font-18">Seleccioná las redes sociales de tu contacto</span>
			</div>
				<div class="col-md-4 col-sm-4 col-xs-12" ng-if="contactCtrl.friends.facebook_friends">
                    <img src="resources/facebook.png" height="25px" style="margin-bottom: 10px;">
					<span class="social-network-name">Facebook</span>
					<div class="social-network" ng-if="contactCtrl.contact.facebook">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<a href="" class="delete-link" ng-click="contactCtrl.contact.facebook=null;"><i class="fa fa-times-circle"></i>Desvincular</a>
							<img ng-src="{{contactCtrl.contact.facebook.picture}}" class="img-circle image-social" ng-if="contactCtrl.contact.facebook.picture" ng-click="contactCtrl.contact.picture=contactCtrl.contact.facebook.picture;contactCtrl.contact.name=contactCtrl.contact.facebook.name;contactCtrl.contact.pictureFromFile=false;">
							<img src="resources/contact/pulpix.png" class="img-circle image-social" ng-if="!contactCtrl.contact.facebook.picture">
							<span class="name-social">{{contactCtrl.contact.facebook.name}}</span>
						</div>
					</div>
					<div class="social-network" ng-if="!contactCtrl.contact.facebook">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<input type="text" ng-model="searchFacebook" placeholder="Buscar" class="form-control form-input">

					        <select class="friends-list form-control" ng-model="contactCtrl.contact.facebook" ng-options="friend.name for friend in contactCtrl.friends.facebook_friends.list | filter : searchFacebook" size="6">
				       			<option value="">-- Selecciona un amigo --</option>
				       		</select>
				       	</div>
                    </div>
	       		</div>
				<div class="col-md-4 col-sm-4 col-xs-12" ng-if="contactCtrl.friends.twitter">
		      		<img src="resources/twitter.png" height="25px" style="margin-bottom: 10px;">
					<span class="social-network-name">Twitter</span>
					<div class="social-network" ng-if="contactCtrl.contact.twitter">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<a href="" class="delete-link" ng-click="contactCtrl.contact.twitter=null;"><i class="fa fa-times-circle"></i>Desvincular</a>
							<img ng-src="{{contactCtrl.contact.twitter.picture}}" class="img-circle image-social" ng-if="contactCtrl.contact.twitter.picture" ng-click="contactCtrl.contact.picture=contactCtrl.contact.twitter.picture;contactCtrl.contact.name=contactCtrl.contact.twitter.username;contactCtrl.contact.pictureFromFile=false;">
							<img src="resources/contact/pulpix.png" class="img-circle image-social" ng-if="!contactCtrl.contact.twitter.picture">
							<span class="name-social">{{contactCtrl.contact.twitter.username}}</span>
						</div>
					</div>
					<div class="social-network" ng-if="!contactCtrl.contact.twitter">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<input type="text" ng-model="searchTwitter" placeholder="Buscar" class="form-control form-input">

				       		<select class="friends-list form-control"  ng-model="contactCtrl.contact.twitter" ng-options="friend.username for friend in contactCtrl.friends.twitter.list | filter : searchTwitter" size="6">
				      			<option value="">-- Selecciona un amigo --</option>
				      		</select>
				      	</div>
		      		</div>
		      	</div>
				<div class="col-md-4 col-sm-4 col-xs-12" ng-if="contactCtrl.friends.instagram">
		      		<img src="resources/instagram.png" height="25px" style="margin-bottom: 10px;">
					<span class="social-network-name">Instagram</span>
					<div class="social-network" ng-if="contactCtrl.contact.instagram">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<a href="" class="delete-link" ng-click="contactCtrl.contact.instagram=null;"><i class="fa fa-times-circle"></i>Desvincular</a>
							<img ng-src="{{contactCtrl.contact.instagram.picture}}" class="img-circle image-social" ng-if="contactCtrl.contact.instagram.picture" ng-click="contactCtrl.contact.picture=contactCtrl.contact.instagram.picture;contactCtrl.contact.name=contactCtrl.contact.instagram.username;contactCtrl.contact.pictureFromFile=false;">
							<img src="resources/contact/pulpix.png" class="img-circle image-social" ng-if="!contactCtrl.contact.instagram.picture">
							<span class="name-social">{{contactCtrl.contact.instagram.username}}</span>
						</div>
					</div>
					<div class="social-network" ng-if="!contactCtrl.contact.instagram">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
							<input type="text" ng-model="searchInstagram" placeholder="Buscar" class="form-control form-input">

				       		<select class="friends-list form-control" ng-model="contactCtrl.contact.instagram" ng-options="friend.username for friend in contactCtrl.friends.instagram.list | filter : searchInstagram" size="6">
				      			<option value="">-- Selecciona un amigo --</option>
				      		</select>
			      		</div>
		      		</div>
		      	</div>
	      	</div>
	      	<div class="clearfix"></div>
	      	<div class="col-md-12 col-sm-12 col-xs-12 text-left unify-color fadeInDown animated" style="margin-top: 20px;" ng-show="contactCtrl.list">
		      	<label class="font-18">Seleccioná los grupos de tu contacto</label>
		      	<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="gray-color" ng-style="circle.style" ng-repeat="circle in contactCtrl.list">
						<label>
							<input type="checkbox" ng-model="circle.checked" ng-change="contactCtrl.check(circle);" style="display: none;">
							<i class="fa" ng-class="{'fa-check-circle-o': circle.checked,'fa-circle-o': !circle.checked}"></i>
							{{circle.name}}
						</label>
					</div>
				</div>
			</div>
	      	<div class="clearfix"></div>
			<div class="fadeInUpBig animated" style="margin-top: 10px;">
			 	<button type="submit" value="Submit" ng-disabled="contactForm.$invalid || (!contactCtrl.contact.facebook && !contactCtrl.contact.twitter && !contactCtrl.contact.instagram) || !contactCtrl.contact.circles_ids || contactCtrl.contact.circles_ids.length==0 || (!contactCtrl.contact.picture && !contactCtrl.contact.pictureFromFile) " ng-click="contactForm.$setPristine()" class="btn btn-unify-primary">Guardar Contacto</button>
				<a class="btn btn-unify-primary-invert" ng-click="uwParentController.cancelContact();">Cancelar</a>
				<br><br>
				<a href="" class="delete-link no-padding" ng-click="contactCtrl.askDeleteConfirmation();" ng-if="contactCtrl.contact_id"><i class="fa fa-times-circle"></i>Eliminar Contacto</a>
			</div>
		</form>
	</div>

	<div>
	    <script type="text/ng-template" id="myModalContactDelete.html">
	        <div class="modal-header">
            	<span class="modal-title">¿Estás seguro que queres eliminar este contacto?</span>
	        </div>
	        <div class="modal-body text-center">
	        	<span class="font-thin">Si eliminas un contacto perderas su información y no veras mas el contenido que genera.</span>
	        	<br><br>
	            <a class="btn btn-unify-primary" type="button" ng-click="deleteContact();">Eliminar</a>
	            <a class="btn btn-unify-primary-invert" type="button" ng-click="cancel()">Cancelar</a>
	        </div>
	    </script>
	</div>
</div>