<div id="mailDash" class="well col-md-12" style="margin-top: 20px;" ng-controller="MailController as mailCtlr">
 	<uw-message ng-model="mailCtlr.errors.google.msg" danger></uw-message>
  <div class="content col-md-12" ng-hide="mailCtlr.viewMail || mailCtlr.writeMail">
		<div class="col-md-2 well text-center word-break" style="margin-top: 20px;">
			<a ng-click="mailCtlr.writeMail={};" class="col-md-offset-1 col-md-10 btn btn-info" style="margin-top: 5px;">Nuevo Email</a>
			<a ng-click="mailCtlr.getInbox();" class="col-md-offset-1 col-md-10 btn btn-danger" style="margin-top: 5px;">Recibidos</a>
			<a ng-click="mailCtlr.getSent();" class="col-md-offset-1 col-md-10 btn btn-primary" style="margin-top: 5px;">Enviados</a>
			<a ng-click="mailCtlr.getDraft();" class="col-md-offset-1 col-md-10 btn btn-success" style="margin-top: 5px;">Borradores</a>
			<a ng-click="mailCtlr.getTrash();" class="col-md-offset-1 col-md-10 btn btn-info" style="margin-top: 5px;">Papelera</a>
		</div>
		<div class="col-md-10 well text-center word-break" style="margin-top: 20px;" ng-show="mailCtlr.viewList=='inbox'">
			<div class="list-group"  ng-if="mailCtlr.inbox.count > 0">
					<a ng-click="mailCtlr.getMail(mail)" href="" class="list-group-item" ng-repeat="mail in mailCtlr.inbox.list">
						{{mail.from}} - {{mail.subject}} - {{mail.date | amCalendar}}
					</a>
			</div>
		</div>
		<div class="col-md-10 well text-center word-break" style="margin-top: 20px;" ng-show="mailCtlr.viewList=='sent'">
			<div class="list-group"  ng-if="mailCtlr.sent.count > 0">
					<a ng-click="mailCtlr.getMail(mail)" href="" class="list-group-item" ng-repeat="mail in mailCtlr.sent.list">
						{{mail.to}} - {{mail.subject}} - {{mail.date | amCalendar}}
					</a>
			</div>
		</div>
		<div class="col-md-10 well text-center word-break" style="margin-top: 20px;" ng-show="mailCtlr.viewList=='draft'">
			<div class="list-group"  ng-if="mailCtlr.draft.count > 0">
					<a ng-click="mailCtlr.getMail(mail)" href="" class="list-group-item" ng-repeat="mail in mailCtlr.draft.list">
						{{mail.to}} - {{mail.subject}} - {{mail.date | amCalendar}}
					</a>
			</div>
		</div>
		<div class="col-md-10 well text-center word-break" style="margin-top: 20px;" ng-show="mailCtlr.viewList=='trash'">
			<div class="list-group"  ng-if="mailCtlr.trash.count > 0">
					<a ng-click="mailCtlr.getMail(mail)" href="" class="list-group-item" ng-repeat="mail in mailCtlr.trash.list">
						{{mail.from}} - {{mail.subject}} - {{mail.date | amCalendar}}
					</a>
			</div>
		</div>
	</div>
	<div class="content col-md-12" ng-show="mailCtlr.viewMail">
		<div class="col-md-2 well text-center" style="margin-top: 20px;">
			<a ng-click="mailCtlr.viewMail=null" class="col-md-offset-1 col-md-10 btn btn-danger" style="margin-top: 5px;">Volver</a>
			<span style="margin-top: 5px;" ng-show="mailCtlr.viewMail.from">
				De: {{mailCtlr.viewMail.from}}
			</span>
			<span style="margin-top: 5px;" ng-show="mailCtlr.viewMail.to">
				Para: {{mailCtlr.viewMail.to}}
			</span>
			<span style="margin-top: 5px;" ng-show="mailCtlr.viewMail.cc">
				CC: {{mailCtlr.viewMail.cc}}
			</span>
			<span style="margin-top: 5px;" ng-show="mailCtlr.viewMail.cco">
				CCO: {{mailCtlr.viewMail.cco}}
			</span>
		</div>
		<div class="col-md-10 well text-center word-break">
			<h3>{{mailCtlr.viewMail.subject}}</h3>
			<span ng-bind-html="mailCtlr.mailHtml"></span>
		</div>
	</div>
	<div class="content col-md-12" ng-show="mailCtlr.writeMail">
		<form name="newMailForm" ng-submit="mailCtlr.sendMail()"
          	class="form-horizontal" role="form" novalidate>
       		<div class="col-md-3 well text-center" style="margin-top: 20px;">
				<a ng-click="mailCtlr.writeMail=null" class="col-md-offset-1 col-md-10 btn btn-danger" style="margin-top: 5px;">Volver</a>
				<div class="form-group">
	              	<input class="form-control" ng-class="{'form-input':mailCtlr.writeMail.to, 'form-empty':!mailCtlr.writeMail.to}" ng-model="mailCtlr.writeMail.to" id="to" type='text' tabindex="1" placeholder="Ingresá a quien le vas a escribir" style="margin-top: 5px;" required/>
				</div>
				<div class="form-group">
	              	<input class="form-control" ng-class="{'form-input':mailCtlr.writeMail.cc, 'form-empty':!mailCtlr.writeMail.cc}" ng-model="mailCtlr.writeMail.cc" id="cc" type='text' tabindex="1" placeholder="Ingresá a quien queres copiar"/>
				</div>
				<div class="form-group">
	              	<input class="form-control" ng-class="{'form-input':mailCtlr.writeMail.cco, 'form-empty':!mailCtlr.writeMail.cco}" ng-model="mailCtlr.writeMail.cco" id="cco" type='text' tabindex="1" placeholder="Ingresá a quien queres copiar de forma oculta"/>
				</div>
			</div>
			<div class="col-md-9 well text-center word-break"  style="margin-top: 20px;">
				<div class="form-group">
	              	<input class="form-control" ng-class="{'form-input':mailCtlr.writeMail.subject, 'form-empty':!mailCtlr.writeMail.subject}" ng-model="mailCtlr.writeMail.subject" id="subject" type='text' tabindex="1" placeholder="Escribí el asunto del mail" required/>
				</div>
				<div class="form-group">
	              	<textarea class="form-control form-input" ng-model="mailCtlr.writeMail.text" id="text" type='text' tabindex="1" placeholder="Escribí el tu mail aquí" form="newMailForm" required/>
	              	</textarea>
				</div>
				 <div class="row">
	                <button type="submit" value="Submit"                                        
	                        ng-disabled="newMailForm.$invalid"
	                        ng-click="newMailForm.$setPristine()"
	                        class="btn btn-unify-primary btn-block">Enviar Mail</button>
	            </div>
			</div>
        </form>
		
	</div>
</div>