<div id="waitingScreen">
	<span>Privacy Policy</span>
	<br/><br/><br/><br/>This Privacy Policy governs the manner in which Unify collects, uses, maintains and discloses information collected from users (each, a "User") of the http://www.myunify.io website ("Site").

<br/><br/>Personal identification information

<br/><br/>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name and email address. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities. We also will collect social accounts information, in order to offer the users a simple way to access their social content.

<br/><br/>Non-personal identification information

<br/><br/>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.

<br/><br/>Web browser local storage

<br/><br/>Our Site use "local storage" to enhance User experience. User's web browser places local storage on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse local storage. If they do so, note that some parts of the Site may not function properly.

<br/><br/>How we use collected information

<br/><br/>Unify may collect and use Users personal information for the following purposes:
 <br/>- To run and operate our Site
We may need your information display content on the Site correctly.
 <br/>- To personalize user experience
We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
 <br/>- To improve our Site
We may use feedback you provide to improve our products and services.
 <br/>- To send periodic emails
We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. 

<br/><br/>How we protect your information

<br/><br/>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.

<br/><br/>Sharing your personal information

<br/><br/>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.

<br/><br/>Electronic newsletters

<br/><br/>If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.

<br/><br/>Third party websites

<br/><br/>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licencors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.

<br/><br/>Changes to this privacy policy

<br/><br/>Unify has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site, revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.

<br/><br/>Your acceptance of these terms

<br/><br/>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.

<br/><br/>Contacting us

<br/><br/>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.

<br/><br/><br/><br/><br/><br/>====================================================================================================

<br/><br/><br/><br/>Política de privacidad

<br/><br/>Esta Política de Privacidad rige la manera en que Unificar recopila, utiliza, mantiene y divulga la información recogida de los usuarios (cada uno, un "Usuario") de la página web http://www.myunify.io ("Sitio").

<br/><br/>Información de identificación Personal

<br/><br/>Podemos recopilar información de identificación personal de los usuarios en una variedad de maneras, incluyendo, pero no limitado a, cuando los usuarios visitan nuestro sitio, registrarse en el sitio, y en relación con las actividades de otros, servicios, funciones o recursos que ponemos a disposición en nuestro Sitio . Los usuarios pueden pedir, en su caso, nombre y dirección de correo electrónico. Vamos a recoger información de identificación personal de los usuarios sólo si voluntariamente presentar esa información a nosotros. Los usuarios siempre pueden negarse a suministrar información de identificación personal, excepto que puede evitar que la participación en determinadas actividades relacionadas con el sitio. También vamos a recopilar información de cuentas sociales, con el fin de ofrecer a los usuarios una forma sencilla de acceder a su contenido social.

<br/><br/>Información de identificación no personal

<br/><br/>Podemos recopilar información de identificación no personal sobre los usuarios cuando interactúan con nuestro sitio. Información de identificación no personal puede incluir el nombre del navegador, el tipo de equipo e información técnica sobre los usuarios mediante la conexión a nuestro sitio, tales como el sistema operativo y los proveedores de servicios de Internet utilizados y otra información similar.

<br/><br/>Navegador web de almacenamiento local

<br/><br/>Nuestro uso del Sitio "almacenamiento local" para mejorar la experiencia del usuario. Navegador web del usuario coloca el almacenamiento local en su disco duro para propósitos de registro y, a veces para rastrear información sobre ellos. El usuario puede optar por configurar su navegador para rechazar almacenamiento local. Si lo hacen, tenga en cuenta que algunas partes del sitio pueden no funcionar correctamente.

<br/><br/>Cómo utilizamos la información recopilada

<br/><br/>Unificar puede recopilar y utilizar los usuarios información personal para los siguientes fines:
 <br/>- Para ejecutar y operar nuestro Sitio
Es posible que tengamos la información de su contenido de la pantalla en el sitio correctamente.
 <br/>- Para personalizar la experiencia del usuario
Podemos utilizar la información en conjunto para comprender cómo nuestros usuarios como grupo, utilizan los servicios y recursos ofrecidos en nuestro Sitio.
 <br/>- Para mejorar nuestro sitio
Podemos usar la retroalimentación que usted proporciona para mejorar nuestros productos y servicios.
 <br/>- Para enviar correos electrónicos periódicos
Podemos utilizar la dirección de correo electrónico para enviar información de usuario y las actualizaciones correspondientes a su orden. También se puede utilizar para responder a sus consultas, preguntas, y / u otras solicitudes.

<br/><br/>¿Cómo protegemos su información

<br/><br/>Adoptamos las prácticas de recopilación de datos adecuado, almacenamiento y procesamiento y las medidas de seguridad para proteger contra el acceso no autorizado, alteración, divulgación o destrucción de su información personal, nombre de usuario, contraseña, información de transacciones y los datos almacenados en nuestro Sitio.

<br/><br/>Compartir su información personal

<br/><br/>Nosotros no vendemos, comercializamos ni alquilamos los usuarios información de identificación personal a terceros. Podemos compartir información demográfica genérica no vinculada a ninguna información de identificación personal con respecto a los visitantes y usuarios con nuestros socios comerciales, afiliados y anunciantes de confianza para los fines antes mencionados. Podemos utilizar terceros proveedores de servicios para ayudarnos a operar nuestro negocio y el Sitio o administrar actividades en nuestro nombre, como el envío de boletines o encuestas. Podemos compartir su información con estos terceros para esos fines limitados, siempre que usted nos ha dado su permiso.

<br/><br/>Boletines electrónicos

<br/><br/>Si el Usuario decide optar en nuestra lista de correo, recibirán correos electrónicos que pueden incluir noticias de la compañía, actualizaciones, información del producto o servicio relacionado, etc. Podemos utilizar terceros proveedores de servicios para ayudarnos a operar nuestro negocio y el Sitio o administramos actividades en nuestro nombre, como el envío de boletines o encuestas. Podemos compartir su información con estos terceros para esos fines limitados, siempre que usted nos ha dado su permiso.

<br/><br/>Sitios web de terceros

<br/><br/>Los usuarios pueden encontrar la publicidad u otro contenido en nuestro sitio que enlace a los sitios y servicios de nuestros socios, proveedores, anunciantes, patrocinadores, licencors y otros terceros. Nosotros no controlamos el contenido o enlaces que aparecen en estos sitios y no son responsables de las prácticas empleadas por sitios web vinculados hacia o desde nuestro Sitio. Además, estos sitios o servicios, incluyendo su contenido y enlaces, pueden estar en constante cambio. Estos sitios y servicios pueden tener sus propias políticas de privacidad y las políticas de servicio al cliente. Navegación e interacción en cualquier otro sitio web, incluyendo sitios web que tienen un enlace a nuestro sitio, está sujeto a propios términos y políticas de ese sitio web.

<br/><br/>Cambios en esta política de privacidad

<br/><br/>Unificar tiene la facultad de actualizar esta política de privacidad en cualquier momento. Cuando lo hacemos, vamos a publicar una notificación en la página principal de nuestro sitio, revisar la fecha de actualización en la parte inferior de esta página y le enviaremos un correo electrónico. Animamos a los usuarios a comprobar con frecuencia esta página para cualquier cambio de mantenerse informados acerca de cómo estamos ayudando a proteger la información personal que recopilamos. Usted reconoce y acepta que es su responsabilidad revisar esta política de privacidad periódicamente y tomar conciencia de las modificaciones.

<br/><br/>Su aceptación de estos términos

<br/><br/>Al utilizar este sitio, usted expresa su aceptación de esta política. Si usted no está de acuerdo con esta política, por favor no utilice nuestro Sitio. Su uso continuado del Sitio tras la publicación de cambios a esta política será considerado su aceptación de dichos cambios.

<br/><br/>Cómo ponerse en contacto con nosotros

<br/><br/>Si usted tiene alguna pregunta sobre esta Política de Privacidad, las prácticas de este sitio, o sus relaciones con este sitio, por favor póngase en contacto con nosotros.
</div>	