<div class="public-input-container col-md-12 col-sm-12 col-xs-12 fadeInDown animated z-index-10" ng-show="$root.hasTwitter || $root.hasFacebook">
	<form name="publicForm" ng-submit="publicate(uwParent);" class="form-horizontal" role="form" novalidate>
		<div class="row public-input-header">
			<label class="pull-right" ng-show="$root.hasTwitter && !$root.hasFacebook">
				<i class="fa fa-twitter fa-social" ng-class="{'unselected':!publication.twitter}"></i>
			</label>
			<label class="pull-right" style="margin-right: 5px;" ng-show="$root.hasFacebook && !$root.hasTwitter">
				<i class="fa fa-facebook-official fa-social" ng-class="{'unselected':!publication.facebook}"></i>
			</label>
			<label class="pull-right" ng-show="$root.hasTwitter && $root.hasFacebook">
				<input type="checkbox" ng-model="publication.twitter" style="display: none;">
				<i class="fa fa-twitter fa-social" ng-class="{'unselected':!publication.twitter}"></i>
			</label>
			<label class="pull-right" style="margin-right: 5px;" ng-show="$root.hasFacebook && $root.hasTwitter">
				<input type="checkbox" ng-model="publication.facebook" style="display: none;">
				<i class="fa fa-facebook-official fa-social" ng-class="{'unselected':!publication.facebook}"></i>
			</label>
			<label class="select-social pull-right hidden-xs" ng-show="$root.hasTwitter && $root.hasFacebook">
				Seleccioná donde queres compartirlo:
			</label>		
			<div>
				<a href="" ng-click="publication.type='text';publication.image=null;publication.video=null;" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='text','publication-type':publication.type!='text'}">
					<i class="fa fa-pencil-square-o"></i>
					<div class="publication-type-text">
						<span>Estado</span>
					</div>
				</a>
				<a href="" ng-click="publication.type='photo';publication.video=null;" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='photo','publication-type':publication.type!='photo'}">
					<i class="fa fa-camera"></i>
					<div class="publication-type-text">
						<span>Foto</span>
					</div>
				</a>
				<!--<a href="" ng-click="publication.type='video';publication.image=null;" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='video','publication-type':publication.type!='video'}">
					<i class="fa fa-film"></i>
					<div class="publication-type-text">
						<span>Video</span>
					</div>
				</a>-->
				<uw-question uw-description="'Elegí el tipo de contenido que querés publicar desde acá.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12 text-center" ng-show="$root.showQuestions" style="position: relative; margin-top: -10px; left: 0px; line-height: initial;"></uw-question>
			</div>
			
		</div>
		<div class=" col-md-12 col-sm-12 col-xs-12 no-padding text-center">
			<textarea class="form-control public-input-text" type='text' name="text" placeholder="Escribí lo que quieras compartir con los demas..." rows="4" ng-model="publication.text"/>
			<div class="image-load-section" ng-show="publication.type=='photo'">
				<a href="" class="delete-link no-padding" ng-click="publication.image=null;" ng-show="publication.image"><i class="fa fa-times-circle"></i>Eliminar Foto</a>
							
				<input id="imageUploadInput" type="file" ngf-select ng-model="publication.uploadingImage" name="uploadingImage" accept="image/*" style="display:none;">
				
				<input id="imageToUpload" type="file" ngf-select ng-model="publication.image" name="image" accept="image/*" ngf-max-size="5MB" style="display:none;">


				<a href="" ng-click="uploadImage();" class="public-link-file col-md-12 col-sm-12 col-xs-12" ng-show="!publication.image">
					<i class="fa fa-picture-o fa-4x"></i>
					<span><b>Hacé click aquí para subir una foto</b></span>
				</a>

				<img ngf-src="publication.image" class="centered public-image" ng-show="publication.image">
				
				<span class="delete-link col-md-12 col-sm-12 col-xs-12" ng-show="publicForm.image.$error.maxSize">La imagen es demasiado grande. Se pueden subir imagenes de hasta 5MB</span> 
			</div>
			<div class="video-load-section" ng-show="publication.type=='video'">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="" class="delete-link no-padding" ng-click="publication.video=null;" ng-show="publication.video"><i class="fa fa-times-circle"></i>Eliminar Video</a>
				</div>
				<input id="videoUploadInput" type="file" ngf-select ng-model="publication.uploadingVideo" name="uploadingVideo" accept="video/*" ngf-max-size="20MB" style="display:none;">
				
				<input id="videoToUpload" type="file" ngf-select ng-model="publication.video" name="video" accept="video/*" ngf-max-size="20MB" style="display:none;">


				<a href="" ng-click="uploadVideo();" class="public-link-file col-md-12 col-sm-12 col-xs-12" ng-show="!publication.video">
					<i class="fa fa-film fa-4x"></i>
					<span><b>Hacé click aquí para subir un video</b></span>
				</a>

				<img ngf-src="publication.video" class="centered public-video" ng-show="publication.video">
        		<video class="public-video" controls ngf-src="publication.video"></video>
				<span class="delete-link col-md-12 col-sm-12 col-xs-12" ng-show="updateCircleForm.uploadingVideo.$error.maxSize">El video es demasiado grande. Se pueden subir videos de hasta 20MB</span> 
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row public-input-footer">
			<div class="pull-right no-padding">
				<button type="submit" value="Submit" ng-disabled="publicForm.$invalid || (!publication.facebook && !publication.twitter) || (!publication.text && !publication.image)" class="btn btn-unify-default pull-right">Publicar</button>
				<uw-question uw-description="'Publicá el contenido usando este botón.'" class="z-index-10 col-md-12 col-sm-12 col-xs-12 text-center" ng-show="$root.showQuestions" style="position: relative; left: -30px; margin-top: -5px;"></uw-question>
			</div>
		</div>
	</form>
</div>