<div class="public-input-container col-md-12 col-sm-12 col-xs-12 fadeInDown animated">
	<form name="publicForm" ng-submit="publicate(uwParent);" class="form-horizontal" role="form" novalidate>
		<div class="row public-input-header">		
			<a href="" ng-click="publication.type='text';publication.image=null;publication.video=null;" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='text','publication-type':publication.type!='text'}">
				<i class="fa fa-pencil-square-o"></i>
				<div class="publication-type-text">
					<span>Estado</span>
				</div>
			</a>
			<a href="" ng-click="publication.type='photo';publication.video=null;" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='photo','publication-type':publication.type!='photo'}">
				<i class="fa fa-camera"></i>
				<div class="publication-type-text">
					<span>Foto</span>
				</div>
			</a>
			<a href="" ng-click="publication.type='video';publication.image=null;" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='video','publication-type':publication.type!='video'}">
				<i class="fa fa-film"></i>
				<div class="publication-type-text">
					<span>Video</span>
				</div>
			</a>
			<label class="pull-right" >
				<input type="checkbox" ng-model="publication.twitter" style="display: none;">
				<i class="fa fa-twitter fa-social" ng-class="{'unselected':!publication.twitter}"></i>
			</label>
			<label class="pull-right" style="margin-right: 5px;">
				<input type="checkbox" ng-model="publication.facebook" style="display: none;">
				<i class="fa fa-facebook-official fa-social" ng-class="{'unselected':!publication.facebook}"></i>
			</label>
			<label class="select-social pull-right">
				Seleccioná donde queres compartirlo:
			</label>
		</div>
		<div class=" col-md-12 col-sm-12 col-xs-12 no-padding text-center">
			<textarea class="form-control public-input-text" type='text' name="text"  rows="4" ng-model="publication.text" required/>
			<div class="image-load-section" ng-show="publication.type=='photo'">
				<a href="" class="delete-link no-padding" ng-click="publication.image=null;" ng-show="publication.image"><i class="fa fa-times-circle"></i>Eliminar Foto</a>
							
				<input id="imageUploadInput" type="file" ngf-select ng-model="publication.uploadingImage" name="uploadingImage" accept="image/*" ngf-max-size="2MB" style="display:none;">
				
				<input id="imageToUpload" type="file" ngf-select ng-model="publication.image" name="image" accept="image/*" ngf-max-size="2MB" style="display:none;">


				<a href="" ng-click="uploadImage();" class="public-link-file col-md-12 col-sm-12 col-xs-12" ng-show="!publication.image">
					<i class="fa fa-picture-o fa-4x"></i>
					<span><b>Hacé click aquí para subir una foto</b></span>
				</a>

				<img ngf-src="publication.image" class="centered public-image" ng-show="publication.image">
				
				<span class="delete-link col-md-12" ng-show="updateCircleForm.file.$error.maxSize">La imagen es demasiado grande. Se pueden subir hasta imagenes de 2MB</span> 
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row public-input-footer">
			<button type="submit" value="Submit" ng-disabled="publicForm.$invalid || (!publication.facebook && !publication.twitter) " class="btn btn-unify-default pull-right">Publicar</button>
		</div>
	</form>
</div>