<div class="public-input-container col-md-12 col-sm-12 col-xs-12 fadeInDown animated">
	<div class="row public-input-header">		
		<a href="" ng-click="publication.type='text'; like();" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='text','publication-type':publication.type!='text'}">
			<i class="fa fa-pencil-square-o"></i>
			<div class="publication-type-text">
				<span>Estado</span>
			</div>
		</a>
		<a href="" ng-click="publication.type='photo';" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='photo','publication-type':publication.type!='photo'}">
			<i class="fa fa-camera"></i>
			<div class="publication-type-text">
				<span>Foto</span>
			</div>
		</a>
		<a href="" ng-click="publication.type='video';" class="publication-type-container" ng-class="{'publication-type-active':publication.type=='video','publication-type':publication.type!='video'}">
			<i class="fa fa-film"></i>
			<div class="publication-type-text">
				<span>Video</span>
			</div>
		</a>
		<a href=""><i class="fa fa-facebook-official fa-social pull-right"></i></a>
		<a href=""><i class="fa fa-twitter fa-social pull-right"></i></a>
	</div>
	<div class=" col-md-12 col-sm-12 col-xs-12 no-padding text-center">
		<textarea class="form-control public-input-text" type='text' rows="4" required/>
		<div></div>
	</div>
	<div class="clearfix"></div>
	<div class="row public-input-footer">
		<a href="" class="btn btn-unify-default pull-right">Publicar</a>
	</div>
</div>