
<section class="sign-in-up-section">
    <div class="container">
        <section class="sign-in-up-content">
            <div class="row">
                <div class="col-md-12 col-xs-10 col-xs-offset-1 text-center no-padding">
                    <img src="resources/unify-logo.png"></img>
                    <div class="title-logon">
                        {{'logon_signUp' | translate}}
                    </div>     
                    <form name="signUpForm" ng-submit="lgnCtrl.signup()"
                        class="form-horizontal" role="form" novalidate>
                         <div class="form-group">
                            <input type="text" class="form-control" ng-class="{'form-input':lgnCtrl.newuser.name, 'form-empty':!lgnCtrl.newuser.name}" name="name" ng-model="lgnCtrl.newuser.name" placeholder="{{'logon_name' | translate}}" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" ng-class="{'form-input':lgnCtrl.newuser.email, 'form-empty':!lgnCtrl.newuser.email}" name="email" ng-model="lgnCtrl.newuser.email" placeholder="{{'logon_email' | translate}}" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" ng-class="{'form-input':lgnCtrl.newuser.password, 'form-empty':!lgnCtrl.newuser.password}" name="password" ng-model="lgnCtrl.newuser.password" placeholder="{{'logon_pass' | translate}}" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" ng-class="{'form-input':lgnCtrl.newuser.confirmpassword, 'form-empty':!lgnCtrl.newuser.confirmpassword}" name="password" ng-model="lgnCtrl.newuser.confirmpassword" placeholder="{{'logon_confirm_pass' | translate}}" required/>
                        </div>
                        <div class="row">
                            <button type="submit" value="Submit"                                        
                                ng-disabled="signUpForm.$invalid || lgnCtrl.newuser.password!=lgnCtrl.newuser.confirmpassword"
                                ng-click="signUpForm.$setPristine()"
                                class="btn btn-unify-primary btn-block">{{'logon_registrar' | translate}}</button>
                        </div>
                    </form>
                    <div class="text-center" style="margin-top:5px;">
                        <a ng-click="lgnCtrl.isLogin=true; lgnCtrl.isSignUp=false;" href="" class="dark-link font-18">{{'logon_ya_registrado' | translate}}</a>
                        <br>
                        <span class="unify-color font-18">También podes ingresar con tus redes sociales</span>
                        </p>
                         <a href="" ng-click="lgnCtrl.authenticate('facebook')" class="col-md-3"><img src="resources/facebook.png" height="40px"></a>
                        <a href="" ng-click="lgnCtrl.authenticate('twitter')" class="col-md-3"><img src="resources/twitter.png" height="40px"></a>
                        <a href="" ng-click="lgnCtrl.authenticate('instagram')" class="col-md-3"><img src="resources/instagram.png" height="40px"></a>
                        <a href="" ng-click="lgnCtrl.authenticate('google')" class="col-md-3"><img src="resources/gmail.png" height="40px"></a>
<!--                        <a ng-click="lgnCtrl.authenticate('facebook')" class="btn btn-primary"><span class="fa fa-facebook"></span> {{'logon_facebook' | translate}}</a>
                        <a ng-click="lgnCtrl.authenticate('twitter')" class="btn btn-info"><span class="fa fa-twitter"></span> {{'logon_twitter' | translate}}</a>
                        <a  ng-click="lgnCtrl.authenticate('instagram')" class="btn btn-primary"><i class="fa fa-instagram"></i></span> {{'logon_instagram' | translate}}</a>
                        <a ng-click="lgnCtrl.authenticate('google')" class="btn btn-danger"><i class="fa fa-google"></i></span> {{'logon_google' | translate}}</a>
                        -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
