<div class="container" ng-controller="SignUpController">
    <div class="sign-in-up" id="to-top">
        <section class="sign-in-up-section">
            <div class="container">
                <section class="sign-in-up-content">
                      <div class="row">
                        <div class="col-md-12 text-center no-padding">
                            <img src="resources/unify-logo.png"></img>
                            <div class="title-logon">
                                {{'logon_signUp' | translate}}
                            </div>     
                            <form name="loginForm" ng-submit="signup()"
                                class="form-horizontal" role="form" novalidate>
                                 <div class="form-group">
                                    <input type="text" class="form-control" ng-class="{'form-input':user.name, 'form-empty':!user.name}" name="name" ng-model="user.name" placeholder="{{'logon_name' | translate}}" required/>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" ng-class="{'form-input':user.email, 'form-empty':!user.email}" name="email" ng-model="user.email" placeholder="{{'logon_email' | translate}}" required/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" ng-class="{'form-input':user.password, 'form-empty':!user.password}" name="password" ng-model="user.password" placeholder="{{'logon_pass' | translate}}" required/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" ng-class="{'form-input':user.confirmpassword, 'form-empty':!user.confirmpassword}" name="password" ng-model="user.confirmpassword" placeholder="{{'logon_confirm_pass' | translate}}" required/>
                                </div>
                                <div class="row">
                                    <button type="submit" value="Submit"                                        
                                        ng-disabled="commentForm.$invalid"
                                        ng-click="commentForm.$setPristine()"
                                        class="btn btn-unify-primary btn-block">{{'logon_registrar' | translate}}</button>
                                </div>
                            </form>
                            <div class="text-center" style="margin-top:5px;">
                                <a ui-sref="login" class="dark-link font-18">{{'logon_ya_registrado' | translate}}</a>
                                <br>
                                <span class="unify-color font-18">También podes ingresar con tus redes sociales</span>
                                </p>
                                <a ng-click="authenticate('facebook')" class="btn btn-primary"><span class="fa fa-facebook"></span> {{'logon_facebook' | translate}}</a>
                                <a ng-click="authenticate('twitter')" class="btn btn-info"><span class="fa fa-twitter"></span> {{'logon_twitter' | translate}}</a>
                                <a  ng-click="authenticate('instagram')" class="btn btn-primary"><i class="fa fa-instagram"></i></span> {{'logon_instagram' | translate}}</a>
                                <a ng-click="authenticate('google')" class="btn btn-danger"><i class="fa fa-google"></i></span> {{'logon_google' | translate}}</a>
                            </div>
                        </div>
                      </div>
                    </form>
                </section>
            </div>
        </section>
        <div class="ocean">
        </div>
        <div class="whoLink text-center row">
            <a href="#whoPage" du-smooth-scroll duration="1000">¿Qué es Unify?</a>
        </div>
    </div>  
    
</div>