<div class="post col-md-12 col-sm-12 col-xs-12 fadeInRight animated word-break" ng-repeat="post in uwMedia.list">
    <div style="margin-bottom:5px;">
	    <div class="col-md-9 col-sm-9 col-xs-8 no-padding">
		    <div style="float: left; padding-right: 5px;">
		    	<a href="#/contact/{{uwCircleId}}/{{post.contact.id}}">
	    			<img ng-src="{{post.contact.picture}}" class="img-circle image-contact-small" ng-if="post.contact.picture">
	    		</a>
		    	<img ng-src="{{uwPicture}}" class="img-circle image-contact-small" ng-if="uwPicture">
		    	<img src="resources/contact/pulpix.png" class="img-circle image-contact-small" ng-if="!post.contact.picture && !uwPicture">
		    </div>
		    <div>
	    	   	<span class="name" ng-if="post.contact.name">
			    	<a href="#/contact/{{uwCircleId}}/{{post.contact.id}}">
			    		<b>{{post.contact.name}}</b><br>
		    		</a>
		    		<span class="date font-thin">{{post.created_time | amCalendar}}</span>
		    	</span>
		    	<span class="name" ng-if="uwName">
		    		<a><b>{{uwName}}</b><a><br>
		    		<span class="date font-thin">{{post.created_time | amCalendar}}</span>
		    	</span>
		    </div>
	    </div>
	    <div class="col-md-3 col-sm-3 col-xs-4 no-padding" >
	    	<i class="fa" ng-class="{'fa-facebook-official': post.provider == 'facebook','fa-twitter': post.provider == 'twitter','fa-instagram': post.provider == 'instagram'}"></i>
	    	<a href="" class="like" ng-show="!post.user_has_liked" ng-click="like(post);" ng-show="post.provider != 'instagram'">
	    		<span class="like-text">Me gusta</span>
	    		<img src="resources/unify-like.png" class="img-circle" height="33px" >
	    	</a>
	    	<a href="" class="liked" ng-show="post.user_has_liked" ng-click="unlike(post);" ng-show="post.provider != 'instagram'">
	    		<span class="liked-text">No me gusta más</span>
	    		<img src="resources/unify-liked.png" class="img-circle" height="33px">
	    	</a>
	    </div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12"ng-if="post.type=='text'">
		<span class="text-post" ng-bind-html="boldHashtags(post.text, post.provider)"></span>
	</div>
	<div ng-if="post.type=='image' || post.type=='photo' || post.type=='animated_gif'">
		<div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
			<span class="text-post" ng-bind-html="boldHashtags(post.text, post.provider)"></span>
	    </div>
	    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
			<img ng-src="{{post.media_url}}" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12"  ng-if="post.type=='video'">
		<span class="text-post" ng-bind-html="boldHashtags(post.text, post.provider)"></span>
        <uw-video video-src="post.media_url" ng-if="post.media_url"></uw-video>
	</div>
</div>