<div class="" ng-controller="VerifyController as vrfCrtl">
	<div class="container" class="fadeIn animated">
        <div class="col-md-12 col-xs-10 col-xs-offset-1 col-md-offset-0 text-center no-padding">
        	<img src="resources/unify-logo.png" height="150px"></img>
        	<div class="title-logon" ng-show="!vrfCrtl.response">
        		Esperando respuesta...
        	</div>   
        	<div ng-show="vrfCrtl.response">
            	<div class="title-logon" ng-show="vrfCrtl.errors">
            		La cuenta no ha podido ser verificada
            	</div>        
            	<div class="title-logon" ng-show="!vrfCrtl.errors">
            		La cuenta ha sido verificada
            	</div>     
        	</div>
      	</div>
	</div>
</div>